/* //General// */

* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    color: rgb(211, 205, 205);
    margin: 0;
    background-color: #22252c;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

p {
    margin: 0 0 1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
}

/* Components */

/* Header */

.nav-container {
    background-color: rgb(230, 214, 75);
    color: rgb(53, 53, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 90px;
    border-radius: 37px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn {
    padding: 15px 20px;
    cursor: pointer;
}

.nav-btn:hover {
    text-decoration: underline;
    transform: scale(1.25);
    font-weight: bolder;
}

.nav-btn:last-child {
    padding-right: 0;
}

.logo {
    text-transform: uppercase;
    font-weight: bolder;
}


/* Canvas Section */

.canvas-section {
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-right: auto;
    margin-left: auto;
    display: none;
}

.canvas-container {
    padding: 15px;
    background-color: rgb(68, 67, 67);
    width: 450px;
    border: 2.5px solid #dadada;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;

}

canvas {
    background-color: gray;
}

.btns-container {
    display: grid;
    border-radius: 30px;
    background-color:rgb(68, 67, 67);
    padding: 20px;
    justify-items: center;
    border: 2.5px solid #dadada;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.btns-container form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
}

.btns-container .font-size {
    padding: 3px;
    text-align: center;
    /* width: 70px; */
}

.form-btn {
    border-radius: 10px;
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
    background-color: #ebeef3;
    box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    height: 50px;
    width: 50px;
    color: snow;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.25rem;
}

.form-btn .arrow-up {
    width: 50%;
    height: 50%;
}

.form-btn .arrow-down {
    transform: rotate(180deg);
    width: 50%;
    height: 50%;
}

.form-btn .arrow-up-text {
    width: 90%;
    height: 90%;
}

.form-btn .arrow-down-text {
    transform: rotate(180deg);
    width: 90%;
    height: 90%;
}


.text-input {
    text-align: center;
    padding: 7px 10px;
    border-radius: 28px;
    background-color: #ebeef3;
    grid-column: 1 / 7;
    grid-row: 1 / 2;
}

.text-input-btn {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.switch-line-btn {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.font-size-up {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-image: linear-gradient(-38deg, #e3e614 0%, #d4d135 100%);
}

.font-size-down {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    background-image: linear-gradient(-38deg, #e62d14 0%, #c93522 100%);
}

.move-meme-up {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    background-image: linear-gradient(-38deg, #1422e6 0%, #358cd4 100%);
}

.move-meme-down {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
    background-image: linear-gradient(-38deg, #1422e6 0%, #358cd4 100%);
}

/* Img Gallery */

.gallery-container {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    justify-content: center;
    /* display: none; */

    height: 100%;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
}

.gallery-container img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item {
    max-height: 350px;
    max-width: 350px;
}



/* Footer */

footer {
    /* position: fixed; */
    /* bottom: 0; */
    /* width: 100%; */
    height: 70px;
    background-color: rgb(230, 214, 75);
    color: rgb(53, 53, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    bottom: 0;
    width: 100%; */
}

.footer-logo {
    margin-inline-end: 50px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.25rem;
}


/* Helpers */

.container {
    width: 850px;
}

.display-grid {
    display: grid !important;
}

.display-none {
    display: none !important;
}

@media screen and (max-width: 850px) {
    .container {
        width: 600px;
    }

    .canvas-section {
        justify-items: center;
        gap: 15;
    }

    .canvas-container {
        width: 350px;
        height: 350px;
        padding: 0;
}

}

@media screen and (max-width: 500px) {
    .container {
        width: 400px;
    }

    /* .nav-container {
        width: 100vw;
    } */

    .canvas-section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        justify-items: center;
    }

    /* .canvas-container {
        width: 350px;
        height: 350px;
        padding: 0;
    } */

    canvas {
        border-radius: 10px;
    }

    footer {
        position: unset;
        bottom: unset;
        width: unset;
    }

}
