/* //General// */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(218, 236, 190);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    margin-bottom: 2em;
}

a {
    color: black;
    text-decoration: none;
}

p {
    margin: 0 0 1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
}

/* Components */

/* Canvas Section */

.canvas-section {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.canvas-container {
    padding: 15px;
    background-color: rgb(68, 67, 67);
    width: fit-content;
}

canvas {
    background-color: gray;
}

.btns-container {
    display: grid;
}

.btns-container .font-size {
    padding: 3px;
    text-align: center;
    width: 70px;
}

/* Img Gallery */

.gallery-container {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    /* display: none; */
}

.gallery-container img {
    cursor: pointer;
}